@import '../../../styles/settings.scss';

.root {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0 70px 0;
  display: flex;
  animation: opacity 1s ease-in;
}

.paper {
  height: 60vh;
}

img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 8px;
}

.container {
  background-color: $pistachio;
  min-height: 200px;
  max-width:  500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
  margin: 0 auto;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
}

.optionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding: 0 15px;
  margin-top: 20px;
}

.textField {
  padding-left: 10px;
  textarea {
    width: 350px;
  }
}

.amountValue {
  margin: 0;
  padding: 0 4px;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.amountLabel {
  margin: 0;
}

.amountInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .amountButton {
    font-size: 30px;
    width: auto;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
  }

  .clicked {
    border: 2px solid white;
  }

  .moreButton {
    margin-bottom: 5px;
  }
}

.title, .price {
  color: white;
  font-family: $menu-font;
  font-size: 40px;
  text-shadow: 2px 2px $pink;
  text-align: center;
}

.button {
  color: white;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .root .textField textarea {
    width: 200px
  }
}

@media screen and (max-width: 450px) {
  .root {
    width: 95%;

    .innerContainer {
      padding: 0 5px;
      align-content: center;
    }

    .title, .price {
      font-size: 26px;
      text-align: left;
    }

    .optionContainer {
      flex-direction: row;
    }

    .textField {
      textarea {
        width: 170px;
      }
    }

  }
}
@keyframes opacity {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


