@import '../../../styles/settings.scss';

.root {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0 70px 0;
  display: flex;
}

.paper {
  height: 60vh;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}


.container {
  background-color: $pistachio;
  // height: 100%;
  min-height: 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
}

.optionContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 30px;
}

.amount {
  width: 50px;
  margin: 10px;
}

.textField {
  width: 230px;
}

.title, .price {
  color: white;
  font-family: $menu-font;
  font-size: 40px;
  text-shadow: 2px 2px $pink;
  margin: 5px;
  text-align: center;
}


.button {
  color: white;
}
