@import '../../../styles/settings.scss';

.root {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0 70px 0;
  display: flex;
}

.paper {
  height: 60vh;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.container {
  background-color: $pistachio;
  min-height: 200px;
  max-width:  500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
  margin: 0 auto;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
}

.optionContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  padding: 0 15px;
  margin-top: 20px;

}

.textField {
  padding-left: 10px;
}

.amount {
  width: 60px;
  margin-right: 17px;
  position: relative;
}

.buttons {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3px;
  right: -28px;
  height: 100%;
}


.title, .price {
  color: white;
  font-family: $menu-font;
  font-size: 40px;
  text-shadow: 2px 2px $pink;
  text-align: center;
}


.button {
  color: white;
  margin-top: 20px;
}

@media screen and (max-width: 450px) {
  .root {
    width: 95%;
    .innerContainer {
      padding: 0 5px;
      align-content: center;
    }
    .title, .price {
      font-size: 26px;
      text-align: left;
    }
    .optionContainer {
      flex-direction: row;
    }
    .textField {
      width: 90%;
    }

  }
}

@media screen and (max-width: 1025px) {
  .root {
    .buttons {
      display: flex;
    }
  }
}
