@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  width: 80%;
  margin: 30px auto;
  text-decoration: none;

}

.title {
  color: white;
  font-family: $menu-font;
  font-size: 40px;
  text-shadow: 2px 2px $pink;
  margin: 0;
  text-decoration: none;
}

.image {
  height: 100%;
  object-fit: cover;

}

.gridList {
  flex-wrap: nowrap;
}

.icon {
  color: $pink;
  font-size: 30px;
}

.swiperDiv {
  margin-bottom: 40px;
}

@media screen and (max-width: 450px) {
  .root {
    width: 95%;
  }
}
