@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}

h2 {
  color: white;
  font-family: $menu-font;
  font-size: 40px;
  text-shadow: 2px 2px $pink;
  margin: 50px 5px;
  text-align: center;
}

.container {
  width: 80%;
  max-width: 500px;
  margin: 20px auto 0 auto;
  background-color: $pistachio;
  border-radius: 8px;
}

.avatar {
  width: 160px;
  height: 160px;
  margin-right: 10px;
}

.formContainer {
  width: 80%;
  margin: 10px auto;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100px;
  margin-top: 15px;
  background-color: $pink;
  border-radius: 8px;
  font-size: 22px;
  padding: 5px;
  color: white;
  font-family: $menu-font;
  text-shadow: 2px 2px $pink;
  border: none;
  outline: none;
  line-height: 22px;

  &:hover {
    cursor: pointer;
  }
}

.amountButton {
  width: 30px;
  margin: 0 0 0 4px;
}

.titleRemove{
  display: flex;
  justify-content: space-between;

}

.deleteButton {
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

.totalContainer h2 {
  margin: 10px 5px;
}

.needLog {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;

  h4 {
    color:palevioletred;
    font-family: $menu-font;
    font-size: 17px;
  }

  // a {
  //   background-color: #DC4C3E;
  //   color: white;
  //   text-decoration: none;
  //   border-radius: 8px;
  //   transition: all 1s;
  //   display: flex;
  //   align-items: center;
  //   &:hover {
  //     background-color: $pink;
  //   }

  //   i {
  //     font-size: 20px;
  //     padding: 0 8px;
  //     min-height: 100%;
  //     border-right: 1px solid gray;
  //   }
  // }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 30px;
  }

  .container {
    width: 95%;
  }

  .avatar {
    width: 70px;
    height: 70px;
    margin-right: 4px;
  }

  .formContainer {
    width: 95%;
  }

  .needLog h4 {
    font-size: 15px;
  }
}
