@import '../../../styles/settings.scss';

.root {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items:flex-start;
  margin-top: 20px;
  flex-wrap: wrap;
  padding-bottom: 70px;

  p, ul {
    color:black;
    font-weight: 400;
    font-family: $menu-font;
    font-size: 20px;
    margin: 5px 0;
    // text-shadow: 2px 2px $pink;
  }

  .wishes {
    font-style: italic;
    font-size: 18px;
    margin: 0;
  }
}

.orderContainer {
  border-radius: 8px;
  background-color: $pistachio;
  padding: 5px;
  margin: 10px;
  min-width: 95%;
}

@media screen and (max-width: 450px) {
  .root {
    width: 95%;

    p, ul {
      font-size: 16px;
      margin: 2px 0;
    }
  }


}
