@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  margin-right: 15px;
}

.log {
  margin: auto;
}

.cartIcon {
  color: white;
  border-radius: 8px;
  padding: 5px;
  transition: all 1s;
  &:hover {
    background-color: $pink;
  }
}

@media screen and (max-width: 340px) {
  .root {
    .cart {
      margin-right: 7px;
      .cartIcon {
        font-size: 30px;
      }
      .MuiBadge-badge {
        width: 14px;
        height: 14px;
      }
    }
  }
}
