@import '../../../styles/settings.scss';

.root {
  color: white;
  text-decoration: none;
  p {
    color: white;
    text-transform: uppercase;
    font-family: $menu-font;
    font-size: 22px;
    padding: 10px;
    border-radius: 8px;
    transition: all 1s;
    &:hover {
      background-color: $pink;
    }
  }
}

@media screen and (max-width: 450px) {
  .root {
    p {
      font-size: 18px;
      padding: 5px;
    }
  }
}


@media screen and (max-width: 360px) {
  .root {
    p {
      font-size: 16px;
      padding: 2px;
    }
  }
}
