@import '../../../styles/settings.scss';

.root {
  height: 120px;
  background-color: $transparently-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 55px 0 25px;
}

@media screen and (max-width: 450px) {
  .root {
    height: 90px;
    padding: 0 10px;
  }
}
