@import '../../../styles/settings.scss';

.root {
  width: 100%;

  .header {
    display: flex;
    width: 100%;
    max-width: 200px;
    justify-content: space-between;
    align-items: center;

    h4 {
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0;

    }

    svg {
      color: inherit;
      font-family: $menu-font;
      font-size: 25px;
      transition: all 1s;
      &:hover {
        cursor: pointer;
        color: $pink;
      }
    }
  }

  p {
    margin: 0;
  }

}
