@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');


//colors
$transparently-blue: rgba(167, 219, 249, 0.8);
$pink: #EF98AE;

//fonts
$logo-font: 'Permanent Marker', cursive;
$menu-font: 'Akaya Telivigala', cursive;

